
<header>
    
  <mat-toolbar color="primary" class="mat-elevation-z20">

<span><mat-icon>eco</mat-icon> Sanction Screening</span>
<div class="spacer"></div>
<button *ngIf="loginService.isUserLoggedIn()" routerLink="/home" mat-button><mat-icon>home</mat-icon>Home</button>

<button *ngIf="loginService.isUserLoggedIn()"  mat-button  routerLink="/upload"  routerLinkActive="mat-accent">Upload </button>
<button *ngIf="!loginService.isUserLoggedIn()"  mat-button routerLink="/login" class="nav-link">Login</button>
<button  *ngIf="loginService.isUserLoggedIn()" mat-raised-button color="accent" routerLink="/login" class="nav-link">LogOut</button>

</mat-toolbar>
</header>


<div class="col-md-6">
  <br><br><br><br>
  <h1 style="color: blueviolet;font-size: 50px;
  margin-left: 350px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Transaction Details</h1>
  <br><br><br>
  <table class="table table-striped" class="blueTable" style="margin-left: 200px;  " border="1">
    <thead>
    <tr>
      <th class="hidden">Transaction Id</th>
      <th >Date</th>
      <th>Payer Name</th>
     
      <th>Payee Name</th>
     
      <th>Amount</th>
      <th>Valid Status</th>
      <th>Sancitioned Status</th>
    </tr>
  </thead>

    <tbody>
    <tr *ngFor="let user of users">
      <td class="hidden">{{user.transaction_id}}</td>
      
      <td>{{user.dt}}</td>
      <td>{{user.payerName}}</td>
    
      <td>{{user.payeeName}}</td>
     
      <td>{{user.amount}}</td>
      <td>{{user.valid}}</td>
      <td>{{user.sanctioned}}</td>
    </tr>
    </tbody>
  </table>
  </div>
  
  